.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px 14px;
    
    font-size: 20px;
}